@import url(https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap);

.class_btn>em>button>span,
.miClaseCSS>div>div>div>div {
    position: relative !important
}

.block_tittle,
.class_btn>em>button>span:first-child,
.miClaseCSS>div>div>div>div>em>button>span,
.tdLbL2,
.tdtxt input {
    font-size: var(--size) !important;
    font-family: var(--letra) !important
}

.class_filter2>div>input,
.class_filter>div>input {
    margin: 0;
    padding-top: 0;
    padding-bottom: 0;
    line-height: 28px
}

.block_tittle,
.class_btn>em>button>span:first-child,
.descripMotivo,
.grilla .x-column-header-text,
.grilla .x-grid-cell-inner,
.list_combo i,
.tdLbL2,
.tdbtn button,
.tdtxt input,
.tdtxt textarea {
    font-family: var(--letra) !important
}

:root {
    --size: 9px;
    --bold: 500;
    --letra: "Montserrat", sans-serif;
    --alto_caja: 25px;
    --borde_caja: #b4cdeb
}

.miClaseCSS {
    background-color: #ff0
}

.miClaseCSS>div>div>div>div {
    left: 0 !important
}

.miClaseCSS>div>div>div>div>em>button {
    width: 150px !important
}

.miClaseCSS>div>div>div>div>em>button>span {
    margin: inherit !important;
    line-height: inherit !important
}

.block_tittle,
.tdLbL2 {
    font-weight: 700;
    padding-left: 10px !important
}

.class_btn>em>button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    width: 100%
}

.class_btn>em>button>span:first-child {
    width: auto !important;
    font-weight: 800;
    padding-left: 10px !important
}

.tdtxt input {
    text-transform: uppercase !important;
    font-weight: var(--bold) !important;
    height: var(--alto_caja) !important;
    width: 200px !important
}

.class_filter>div>input,
.tdbtn button {
    width: 190px !important;
    text-transform: uppercase !important
}

.tdtxt textarea {
    font-size: 7px !important
}

.class_filter2>div>input,
.class_filter>div>input,
.grilla .x-column-header-text,
.grilla .x-grid-cell-inner,
.tdbtn button {
    font-size: var(--size) !important;
    font-weight: var(--bold) !important
}

.tdtxt .textbox {
    border: 1px solid var(--borde_caja) !important
}

.descripMotivo {
    font-size: 7px
}

#div_alm_doc_origen #txt_ri_nomprov,
.class_filter {
    margin-bottom: 0 !important
}

.class_filter>div>input {
    height: 29px !important;
    border-radius: 5px;
    border: 1px solid var(--borde_caja) !important;
    height: var(--alto_caja) !important
}

.class_filter2>div>input {
    width: 200px !important;
    border-radius: 5px;
    border: 1px solid var(--borde_caja) !important;
    text-transform: uppercase !important;
    height: var(--alto_caja) !important
}

.grilla .x-column-header-text {
    font-weight: 700 !important;
    color: red!important;
}

.block {
    display: flex;
    flex-direction: column
}

.block_tittle {
    font-size: 11px !important
}

.block_div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center
}

.list_combo i {
    font-weight: var(--bold) !important
}

.list_combo .text {
    font-size: 10px !important
}

.list_combo .text-primary {
    font-size: var(--size) !important
}

.md_200>div>input {
    width: 200px !important
}

@media(max-width:1400px) {
    .tdLbL2 {
        font-size: 8px !important
    }
}