@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --size: 9px;
    --bold: 500;
    --letra: "Montserrat", sans-serif;
    --alto_caja: 25px;
    --borde_caja: #b4cdeb;
}

.miClaseCSS {
    background-color: yellow;
}

.miClaseCSS>div>div>div>div {
    position: relative !important;
    left: 0 !important;
}

.miClaseCSS>div>div>div>div>em>button {
    width: 150px !important;
}

.miClaseCSS>div>div>div>div>em>button>span {
    margin: inherit !important;
    line-height: inherit !important;
    font-family: var(--letra) !important;
    font-size: var(--size) !important;
}

.block_tittle,
.tdLbL2 {
    font-weight: bold;
    padding-left: 10px !important;
    font-family: var(--letra) !important;
    font-size: var(--size) !important;
}

.class_btn>em>button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    width: 100%;
}

.class_btn>em>button>span:first-child {
    width: auto !important;
    font-weight: 800;
    font-size: var(--size) !important;
    padding-left: 10px !important;
    font-family: var(--letra) !important;
}

.class_btn>em>button>span {
    position: relative !important;
}

.tdtxt input {
    font-size: var(--size) !important;
    text-transform: uppercase !important;
    font-weight: var(--bold) !important;
    font-family: var(--letra) !important;
    height: var(--alto_caja) !important;
    width: 200px !important;
}

.tdtxt textarea {
    font-family: var(--letra) !important;
    font-size: 7px!important;
}

.tdtxt .textbox {
    border: 1px solid var(--borde_caja) !important;
}

.tdbtn button {
    font-size: var(--size) !important;
    text-transform: uppercase !important;
    font-weight: var(--bold) !important;
    font-family: var(--letra) !important;
    width: 190px !important;
}

.descripMotivo {
    font-family: var(--letra) !important;
    font-size: 7px;
}

.class_filter {
    margin-bottom: 0px !important;
}

.class_filter>div>input {
    margin: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    height: 29px !important;
    line-height: 28px;
    width: 190px !important;
    border-radius: 5px 5px 5px 5px;
    border: 1px solid var(--borde_caja) !important;
    font-size: var(--size) !important;
    font-weight: var(--bold) !important;
    text-transform: uppercase !important;
    height: var(--alto_caja) !important;
}

.class_filter2>div>input {
    margin: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    line-height: 28px;
    width: 200px !important;
    border-radius: 5px 5px 5px 5px;
    border: 1px solid var(--borde_caja) !important;
    font-weight: var(--bold) !important;
    font-size: var(--size) !important;
    text-transform: uppercase !important;
    height: var(--alto_caja) !important
}

#div_alm_doc_origen #txt_ri_nomprov {
    margin-bottom: 0 !important;
}

.grilla .x-grid-cell-inner,
.grilla .x-column-header-text {
    font-weight: var(--bold) !important;
    font-family: var(--letra) !important;
    font-size: var(--size) !important;
}

.grilla .x-column-header-text {
    font-weight: 700 !important;
}

.block {
    display: flex;
    flex-direction: column;
}

.block_tittle {
    font-size: 11px !important;
}

.block_div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.list_combo i {
    font-weight: var(--bold) !important;
    font-family: var(--letra) !important;
}

.list_combo .text {
    font-size: 10px !important;
}

.list_combo .text-primary {
    font-size: var(--size) !important;
}

.md_200>div>input {
    width: 200px !important;
}

@media(max-width:1400px) {
    .tdLbL2 {
        font-size: 8px !important;
    }

    /* .tdtxt input {
        width: 180px!important;
    } */
}